# PostgreSQL database

default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch("DB_HOST", ) %>
  port: <%= ENV.fetch("DB_PORT") %>
  username: <%= ENV.fetch("DB_USERNAME") %>
  password: <%= ENV.fetch("DB_PASSWORD") %>
  pool: <%= ENV.fetch("DB_RAILS_MAX_THREADS") %>

development:
  <<: *default
  database: <%= ENV.fetch("DB_NAME_DEVELOPMENT") %>

test:
  <<: *default
  database: <%= ENV.fetch("DB_NAME_TEST") %>

production:
  <<: *default
  database: <%= ENV.fetch("DB_NAME_PRODUCTION") %>
